@media (max-width: 768px) {

  input[type=checkbox]:checked ~ .nav{
    display: block;
  }

   .hamburger {
    display: block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
   }

   .logo {
    display: none;
   }

   .bannercon video {
    position: relative;
    overflow: hidden;
    z-index: -1;
    margin: 0 auto;
    width: 100%;
  }

  .bannertext {
    width: 100%;
    float: right;
    position: relative;
    font-family: Montserrat;
    font-weight : 700;
    font-size : 2rem;
    margin-top: 0%;
    padding-top: 5%;
    text-decoration: none;
    z-index: 1;
    height: auto;
    text-align: center;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #211c31;
    
  }

  .bannertext2 {
  display: none;
  }

  .bannertext1 {
    float: none;
    text-align: center;
    height: 2rem;
    overflow: hidden;
    margin-bottom: 2.5vw;
    }

  .bannertext2alt {
  display: block;
  height: 2rem;
    }

 }