  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

  @font-face {
    font-family: Montserrat Bold;
    src: url(/media/Montserrat-Bold.ttf);
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap')
  } 
  
  body {
  margin: 0px;
  padding: 0;
  height: auto;
  } 

  html {
   margin: 0px;
   padding: 0;
   font-size: 16px;
   scroll-behavior: smooth;
  }

  .nav {
   position: fixed;
   float: left;
   width: 100%;
   height: auto;
   background: url(/images/Navbar/BG-01.svg);
   background-size: cover;
   background-position: center;
   opacity: 1;
   z-index: 2;
  }
  
  .navlinks {
  position: relative;
  float: right;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-right: 9.2vw;
  font-family: Karla;
  font-weight : 700;
  font-size : 1rem;
  color: #E1E1E1;
  text-decoration: none; 
  user-select: none;
  }

  .navlinks:hover {
  color: #EB3B5A;
  }

  .navlinks:hover::after {
    width: 100%;
    }

  .navlinks::after {
    content: '';
    height: 0.2vw;
    width: 0%;
    position: absolute;
    background: #EB3B5A;
    left: 0;
    bottom: -0.7vw;
    transition: 0.5s;
  }

  .bannercon {
   position: relative;
  }

  .bannercon video {
    position: absolute;
    margin-top: -4vw;
    max-width: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .logo {
    position: fixed;
    float: left;
    margin-left: 5vw;
    margin-top: 2.3vw;
    z-index: 2;
    width: 5vw;
    z-index: 3;
    user-select: none;
  }

  .logo:hover {
    animation-name: anim-logo;
    animation-duration: 0.5s;
    animation-delay: 0ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  @keyframes anim-logo {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .bannertext1 {
    float: right;
    color: #EB3B5A;
    }

  .bannertext2 {
    float: right;
    margin-right: 9.2vw;
    margin-left: 1.7vw;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #EB3B5A;
    overflow: hidden;
    }

  .bannerbutton {
    position: relative;
    float: right;
    border: none;
    margin-top: 60px;
    margin-right: 9.2vw;
    padding-left: 3.9vw;
    padding-right: 3.9vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    background-image: url(/images/Banner/Button-01.svg);
    background-position: center;
    background-repeat: no-repeat;
    font-family: Montserrat;
    font-weight : 700;
    font-size : 1rem;
    color: #E1E1E1;
    user-select: none;
    text-decoration: none;
  }

  .bannerbutton:hover {
    transition: 0.5s;
    color: #10052D;
    background-image: url(/images/Banner/Button-02-01.svg);
  }

    .bannertext {
      width: 100%;
      float: right;
      position: relative;
      font-family: Montserrat;
      font-weight : 700;
      font-size : 4rem;
      margin-top: 13vw;
      text-decoration: none;
      z-index: 1;
      height: 4rem;
      text-align: right;
      overflow: hidden;
      user-select: none;
    }

    .lineup {
      animation-name: anim-textin;
      animation-duration: 8s;
      animation-delay: 0ms;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    @keyframes anim-textin {
      0% {
        transform: translateY(100%);
      }

      11% {
        transform: translateY(0%);
      }

      22% {
        transform: translateY(0%);
      }

      33% {
        transform: translateY(-100%);
      }

      44% {
        transform: translateY(-100%);
      }

      55% {
        transform: translateY(-200%);
      }

      66% {
        transform: translateY(-200%);
      }

      77% {
        transform: translateY(-300%);
      }

      88% {
        transform: translateY(-300%);
      }

      99% {
        transform: translateY(-400%);
      }

      100% {
        transform: translateY(-400%);
      }
    }